.topic-record {
  background-color: white;
  margin: 1.5em 0;
  padding: 1em;
  border-radius: 6px;
  display: flex;
}

.topic-record-body {
  order: 3;
}

.topic-record-votes {
  color: #777;
  font-size: 30px;
  line-height: 1.5;
  padding: 0 0.5em;
  order: 2;
}

.topic-record-actions {
  order: 1;
}

.topic-record-actions button {
  width: 2em;
  height: 2em;
}
